#header-logo {
    height: 1.2em;
}

#footer .inner {
    padding: 0;
}

#footer .inner .copyright {
    border-top: none;
}

section#banner {
    padding: 3em 0 0.75em 0;
}

@media screen and (max-width: 1280px) {
    section#banner {
        margin: 0 auto;
        background-color: transparent;
        background-image: none;
    }

    section#footer {
        background-color: transparent;
        background-image: none;
    }
}

@media screen and (min-width: 1281px) {
    section#footer {
        background-color: transparent;
        background-image: none;
    }
}

nav {
    text-transform: uppercase;
    font-weight: 600;
    background-color: #2e3141;
}

nav a {
    border-bottom: none;
}

nav form {
    margin: 0;
}

nav form input[type="text"] {
    height: auto;
    margin-right: 0.75em;
}

/* section#follow div div span {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: solid 2px rgba(255, 255, 255, 0.125);
    text-align: center;
    line-height: 15px;
} */

section#follow div div span i:first-child {
    color: rgba(255, 255, 255, 0.125);
}

ul.copyright {
    text-align: center;
}

ul.copyright li a {
    border-bottom: none;
}

ul.copyright li a:hover {
    border-bottom: none;
    text-decoration: none;
}

#follow .inner .d-flex {
    padding: 0 8em;
}

.wrapper.spotlight:nth-child(2n-1) .inner {
    text-align: left;
}

#signinBtn {
    text-align: right;
    margin: auto;
}

.editor-toolbar {
    background-color: white;
}

.editor-preview-side.editor-preview-active-side * {
    color: black;
}

.editor-preview.editor-preview-active * {
    color: black;
}

.logo img {
    width: 300px;
}

textarea#description {
    background: rgba(68, 82, 136, 1);
    border: solid 2px rgba(92, 104, 151, 1);
    color: rgba(133, 142, 177, 1);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16.5pt;
    font-weight: 300;
}

div#submit input[type="submit"] {
    background-color: rgba(88, 139, 174, 1);
    border-color: rgba(88, 139, 174, 1);
}

div#submit {
    text-align: right;
}

.bg-image {
    /* The image used */
    background-image: url("/assets/media/images/channel_banner.jpg");

    /* Add the blur effect and darkens the image to help reading text on it */
    filter: blur(3px) brightness(30%);
    -webkit-filter: blur(3px) brightness(30%);

    position: absolute;
    top: 1em;
    left: 0;

    height: 50%; /* 55% */
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner.channel {
    position: relative;
}

#banner.profile {
    position: relative;
    padding-top: 10em;
}

.post .reactions {
    display: flex;
    justify-content: space-between;
}

.post .reactions span {
    margin-left: 0.5em;
}

.post a:hover {
    text-decoration: none;
}

#seePost {
    width: 80%;
    margin: 8px auto auto;
}

#upvote-post {
    font-size: 30px;
    margin-right: 10px;
}

#downvote-post {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

#comment-post {
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
}


#upvote {
    font-size: 15px;
}

#downvote {
    font-size: 15px;
}

#reactions {
    padding-bottom: 20px;
}

.fas.fa-kiwi-bird {
    font-size: 30px;
    margin-right: 10px;
}

#leaveComment {
    margin-top: 1.10em;
    text-align: right;
    display: flex;
    justify-content: end;
}

#sendComment {
    vertical-align: middle;
}

#send {
    display: flex;
    align-items: center;
}

.error {
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 150, 150, 0.5);
    padding: 0.7em;
    border-radius: 5px;
    margin-bottom: 1em;
}

* {
    outline: none;
}

#trending-channels > div > a > img {
    width: 276px;
    height: 276px;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile .inner .row .col-4 span img {
    width: 276px;
    height: 276px;
    object-fit: cover;
    border-radius: 50%;
}

.user-profile .inner .row div i {
    margin-right: 0.5em;
}

.user-profile .inner .row div i.attributes {
    margin-left: 0.5em;
}

.user-profile .features .post {
    margin: auto;
    width: 65%;
}

.user-profile .features p {
    margin: 0;
}

.user-profile .features .post p:last-of-type {
    margin-bottom: 2em;
}

.user-profile .features hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

.user-comment {
    margin-top: 1.10em;
    border: solid 2px rgba(255, 255, 255, 0.125);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 0.05em;
    margin-bottom: 1em;
}

.user-comment:last-child {
    margin-bottom: 2em;
}

.comment-author {
    margin-bottom: 0.5em;
}

.comment-delimiter {
    margin: 0 0 0.5em;
}

.react-comment {
    text-align: right;
}

.downvote-comment {
    margin-right: 0.5em;
}

.upvote-comment {
    margin-right: 0.5em;
}

.author {
    margin-bottom: 0.5em;
}

#canvas {
    background-color: #2e3141;
    border-radius: 5px;
}

p {
    word-wrap: break-word;
}

.paginator {
    text-align: center;
}

.numlink {
    margin-left: 50px;
}

.numlink > a {
    border-bottom: none;
}

.curlink {
    margin-left: 50px;
}

.nextlink {
    margin: 50px;
}

#profile-edit {
    float: right;
}

#profile-edit > a {
    border-bottom: none;
}

.channel-name {
    font-weight: bold;
    text-decoration: none;
}

.channel-name:hover {
    text-decoration: none;
}

.empty {
    width: 100%;
    font-style: italic;
    text-align: center;
}

.edit-post {
    float: right;
    margin-right : 1em;
}

.avatar {
    vertical-align: middle;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    margin-right: 1em;
    margin-bottom: 0.5em;
    object-fit: cover;
  }

.user-comment .info-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-user > a {
    text-decoration: none;
}

.avatar-channel {
    vertical-align: middle;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    margin-right: 0.5em;
    object-fit: cover;
  }

.info-post {
    margin-bottom: 1em;
    color: grey;
}

.sub-widget {
    padding: 1.5em 2em 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    background-color: #3f52ad;
}

#manage-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    max-width: 60%;
}

.modal-content {
    background-color: #353849;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.user-profile > a {
    border-bottom: none;
}

.search-container {
    margin-bottom: 5em;
}

.search-container > h3 {
    margin-top: 2em;
}

.search-container > h3:first-of-type {
    margin-top: 0;
}

.search-result {
    border-bottom: none;
    display: block;
}

.post-icon {
    vertical-align: revert;
    text-align: center;
    margin-right: 1em;
    width: 2.5em;
}

.tri-post {
    display: flex;
    flex-direction: row-reverse;
}

.tri-hot {
    margin-left: 1em;
    margin-right: 1em;
}

.sort-by {
    font-weight: bold;
}

.no-underline {
    border-bottom: none;
}

.toast {
    position: absolute;
    top: 100px;
    right: 1em;
    background-color: #353849;
}

.toast-body {
    font-size: 20px;
    padding-left: 1em;
}

.toast-body > button {
    vertical-align: bottom;
    font-size: 10px;
    margin-left: 1.5em;
    float: right;
}

.pointer-click {
    cursor: pointer;
}

.post-list-element {
    display: block;
    margin-bottom: 1em;
}

.display-block {
    display: block;
}

.remove-user-role {
    cursor: pointer;
}

.image-input {
    width: 100%;
}
